.tarea {

    padding: 1em 1.5em;
    border-radius: 1.25em;
    background-color: #66b;
    display: flex;
    flex-direction: column;
    min-width: 75vw;
    text-align: left;
    transition: 0.25s ease-in-out;

    &-name {
        font-weight: bold;
        color: cadetBlue;
    }

    &-pointer, &-remove {
        cursor: pointer;
    }

    &:hover {
        transform: scale(115%) rotateZ(5deg);
    }
}