#container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50vh;
}

#imagen {
    width: 300px;
    border-radius: 2em;
    transition: 0.25s ease-in-out;
    opacity: .5;
}

#imagen:hover {
    transform: scale(120%);
    transition: 0.25s ease-in-out;
    opacity: 1;
}